{% extends "layout.njk" %}

{% block head %}
<title>404 - Not Found</title>
{% endblock head %}

{% block content %}

<main>
<div id="erro">

<h1>404</h1>

<p>A PÁGINA NÃO FOI ENCONTRADA =/</p>
</div>
</main>

{% endblock content %}