<!DOCTYPE html>

<html>

<head>
    <link rel="shortcut icon" href="/public/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/public/style.css">
    <title>Foodfy</title>
    <meta name="description" content="Foodfy - As melhores receitas">
</head>

<body>
    <header>
        <div id="logo">
            <a href="index.html"><img src="/public/img/logo.png" alt="Logo Foodfy"></a>
        </div>
        <nav>
            <a href="sobre.html">Sobre</a>
            <a href="#" id="page-active">Receitas</a>
        </nav>
    </header>

    
    <main>

        <section class="cards">

            <div class="card">
                <img src="/public/img/burger.png" alt="Triplo bacon burger">
                <h4>Triplo bacon burger</h4>
                <p>por Jorge Relato</p>
            </div>

            <div class="card">
                <img src="/public/img/pizza.png" alt="Pizza 4 estações">
                <h4>Pizza 4 estações</h4>
                <p>por Fabiana Melo</p>
            </div>

            <div class="card">
                <img src="/public/img/espaguete.png" alt="Espaguete ao alho">
                <h4>Espaguete ao alho</h4>
                <p>por Júlia Kinoto</p>
            </div>

            <div class="card">
                <img src="/public/img/lasanha.png" alt="Lasanha mac n' cheese">
                <h4>Lasanha mac n' cheese</h4>
                <p>por Juliano Vieira</p>
            </div>

            <div class="card">
                <img src="/public/img/doce.png" alt="Docinho pão-do-céu">
                <h4>Docinho pão-do-céu</h4>
                <p>por Ricardo Golvea</p>
            </div>

            <div class="card">
                <img src="/public/img/asinhas.png" alt="Asinhas de frango ao barbecue">
                <h4>Asinhas de frango ao barbecue</h4>
                <p>por Vania Steroski</p>
            </div>

            <div class="card">
                <img src="/public/img/burger.png" alt="Triplo bacon burger">
                <h4>Triplo bacon burger</h4>
                <p>por Jorge Relato</p>
            </div>

            <div class="card">
                <img src="/public/img/pizza.png" alt="Pizza 4 estações">
                <h4>Pizza 4 estações</h4>
                <p>por Fabiana Melo</p>
            </div>

            <div class="card">
                <img src="/public/img/espaguete.png" alt="Espaguete ao alho">
                <h4>Espaguete ao alho</h4>
                <p>por Júlia Kinoto</p>
            </div>

            <div class="card">
                <img src="/public/img/lasanha.png" alt="Lasanha mac n' cheese">
                <h4>Lasanha mac n' cheese</h4>
                <p>por Juliano Vieira</p>
            </div>

            <div class="card">
                <img src="/public/img/doce.png" alt="Docinho pão-do-céu">
                <h4>Docinho pão-do-céu</h4>
                <p>por Ricardo Golvea</p>
            </div>

            <div class="card">
                <img src="/public/img/asinhas.png" alt="Asinhas de frango ao barbecue">
                <h4>Asinhas de frango ao barbecue</h4>
                <p>por Vania Steroski</p>
            </div>

        </section>

    </main>
    
    <footer>
        <p>Todos os direitos reservados, receitas Foodfy.</p>
    </footer>

    <div class="modal-overlay">
        <div class="modal">

            <div class="internal-modal">
                <div class="modal-img">

                </div>

                <div class="content-modal">
                    <h2>Triplo bacon burger</h2>
                    <p>por Jorge Relato</p>
                </div>
                <a class="close-modal">Fechar</a>
            </div>

        </div>

    </div>

    <script src="/public/scripts.js"></script>
</body>

</html>